html {
    padding-bottom: 105px;
}

footer {
    font-size: small;
    position: fixed;
    bottom: 0;
}

div {
    outline: 1px solid black;
}

/* Awards Styles */
table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    text-align: left;
}

/* Menu Styles */

@media screen and (min-width: 400px) {
    #menus {
        display: flex;
        text-align: center;
    }

    #menu-1 {
        flex: 1;
        margin-right: 5%;
    }

    #menu-2 {
        flex: 2;
    }
}

#menu-1 p,
#menu-2 p{
    margin-top: 0;
}

.meal-type {
    margin-bottom: 0;
}

#meal-package p {
    text-align: center;
}

/* Keynote Styles */

@media screen and (min-width: 400px) {
    #speakers {
        display: flex;
        text-align: center;
        width: 200px;
        height: 150px;
    }

    #speaker-1 {
        flex: 1;
        margin-right: 5%;
    }

    #speaker-2 {
        flex: 2;
    }
}

.speaker-images {
    width: 200px;
    height: 150px;
}