html {
    padding-bottom: 105px;
}

footer {
    font-size: small;
    position: fixed;
    bottom: 0;
}

div {
    outline: 1px solid black;
}

/* Awards Styles */
table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    text-align: left;
}

.awardsImages {
    width: 128px;
    height: 128px;
}

/* Menu Styles */

@media screen and (min-width: 400px) {
    #menus {
        display: flex;
        text-align: center;
    }

    #menu1 {
        flex: 1;
        margin-right: 5%;
    }

    #menu2 {
        flex: 2;
    }
}

#menu1 p,
#menu2 p{
    margin-top: 0;
}

.mealType {
    margin-bottom: 0;
}

#mealPackage p {
    text-align: center;
}

/* Keynote Styles */

@media screen and (min-width: 400px) {
    #speakers {
        display: flex;
        text-align: center;
        width: 200px;
        height: 150px;
    }

    #speaker1 {
        flex: 1;
        margin-right: 5%;
    }

    #speaker2 {
        flex: 2;
    }
}

.speakerImages {
    width: 200px;
    height: 150px;
}